# Sales Data Analysis Project

## Table of Contents
1. [Introduction](#Introduction)
2. [Data Loading and Inspection](#Data-Loading-and-Inspection)
3. [Data Cleaning](#Data-Cleaning)
4. [Exploratory Data Analysis (EDA)](#Exploratory-Data-Analysis-(EDA))
    - [Sales Over Time](#Sales-Over-Time)
    - [Sales by Product Line](#Sales-by-Product-Line)
    - [Sales by Deal Size](#Sales-by-Deal-Size)
5. [Advanced Analysis](#Advanced-Analysis)
    - [Sales by Territory](#Sales-by-Territory)
    - [Top Customers](#Top-Customers)
6. [Conclusion](#Conclusion)

## Introduction

## Data Loading and Inspection

In [1]:
# import libraries for data processing and visualization
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

First, we load the data and extract some basic information

In [2]:
sales_data = pd.read_csv('sales_data_sample.csv', index_col='ORDERNUMBER')

# First 5 rows
sales_data.head()

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
ORDERNUMBER,,,,,,,,,,,,,,,,,,,,,
10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [3]:
# Outputs the "Big 5" as well as count, mean, and standard deviation
sales_data.describe()

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [4]:
null_counts = sales_data.isnull().sum().astype(str) + ' null'
non_null_counts = sales_data.notnull().sum().astype(str) + ' non-null'
dtypes = sales_data.dtypes

# Contains number of null and non-null entries as well as the type of the entry for each column
sales_info = pd.DataFrame({'Non-Null Count': non_null_counts, 'Null Count': null_counts, 'dtype': dtypes,})
print(sales_info)

                 Non-Null Count Null Count    dtype
QUANTITYORDERED   2823 non-null     0 null    int64
PRICEEACH         2823 non-null     0 null  float64
ORDERLINENUMBER   2823 non-null     0 null    int64
SALES             2823 non-null     0 null  float64
ORDERDATE         2823 non-null     0 null   object
STATUS            2823 non-null     0 null   object
QTR_ID            2823 non-null     0 null    int64
MONTH_ID          2823 non-null     0 null    int64
YEAR_ID           2823 non-null     0 null    int64
PRODUCTLINE       2823 non-null     0 null   object
MSRP              2823 non-null     0 null    int64
PRODUCTCODE       2823 non-null     0 null   object
CUSTOMERNAME      2823 non-null     0 null   object
PHONE             2823 non-null     0 null   object
ADDRESSLINE1      2823 non-null     0 null   object
ADDRESSLINE2       302 non-null  2521 null   object
CITY              2823 non-null     0 null   object
STATE             1337 non-null  1486 null   object
POSTALCODE        2747 non-null    76 null   object
COUNTRY           2823 non-null     0 null   object
TERRITORY         1749 non-null  1074 null   object
CONTACTLASTNAME   2823 non-null     0 null   object
CONTACTFIRSTNAME  2823 non-null     0 null   object
DEALSIZE          2823 non-null     0 null   object

## Data Cleaning

From above, we see that ADDRESSLINE2, STATE, and TERRITORY columns have null rows. We would lose too much valuable information if we dropped these rows. Let's fill in the missing values instead:

In [5]:
sales_data.fillna({'ADDRESSLINE2': 'No Address Line'}, inplace=True)
sales_data.fillna({'STATE': 'No State'}, inplace=True)
sales_data.fillna({'TERRITORY':'No Territory'}, inplace=True)

Next let's check for duplicate rows

In [6]:
duplicate_rows = sales_data.duplicated().sum()
print(f"Number of duplicate rows is {duplicate_rows}")

Number of duplicate rows is 0